{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/add_contact.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/button.css' %}">
{% endblock %}


{% block content %}


{% if validate %}

	<h1>Merci d'avoir partagé votre contact</h1>
	<h2>Vous le verrez sur le site sitôt que nous aurons traite la demande</h2>


{% else %}
<h1> Ajouter un Contact </h1>

<form action="{% url "addContact" %}" method="post">
	{% csrf_token %}
	<div id="form_set">
		<div id="form_div">
			<h2>Mes informations</h2>

				{{form_vol.as_p}}
		</div>



		<div id="form_div">
			<h2>Mon contact</h2>

			{{form_contact.as_p}}

			<div id="met_sec">
				<div id="metiers">{{form_metier.as_p}}</div>
				<div id="secteurs">{{form_secteur.as_p}}</div>
			</div>

			<label for="addButton">Ajouter un métier</label>


		</div>
	</div>

	<button id="valider_bouton" class="classic_button" type="submit"> Valider </button>

</form>



{% endif %}



{% endblock %}