{% extends 'base.html' %}

{%load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/apropos.css' %}">
{% endblock %}

{% block content %}


	<h1>Bienvenue sur le site de l’équipe Emploi connectés Unis-Cité.</h1>
<div>
	<p>
		Nous sommes passés dans vos équipes il y quelques mois pour vous faire passer un questionnaire sur votre projet professionnel et de vous proposer le jeu des réseaux.<br/>
		Ce questionnaire avait pour but de cerner des métiers et domaines qui vous attiraient, dans le but d’aider dans notre mission, notamment à trouver des professionnels durant la Rencontre Avenir.
	</p>

	<h2>Nous vous remercions pour vos réponses, et maintenant à nous de vous aider ! :) </h2>

	<p>
		Suite aux résultats du jeu des réseaux, nous avons eu l’idée de créer un site internet pour tous les volontaires d’Unis-cité  et créer le grand réseau des volontaires d'Unis-Cité.<br/>
		
		L’idée est qui vous mettiez sur le site internet un métier, une formation de VOTRE réseau. <br/>
		Une fois le contact ajouté, un volontaire pourra ensuite le solliciter en passant par vous ou par nous.<br/>
		Pour protéger leur vie privées,	les informations personnelles d'un contact ne seront pas affichées directement sur le site. <br/>
		
	</p>

	<p>
		En faisant les OSTR, nous nous sommes rendus compte de l'importance d'une rencontre avec les professionnels.<br/>
		Rare sont les fiches métier cocmplètes et beaucoup de sujet ne sont pas aborder.<br/>
		Ainsi Nous vous conseillons de jeter un oeil aux OSTR pour bien préparer votre rendez-vous et vos questions.
	</p>

</div>
<div>
<h1>En pratique</h1>

<h3>

<h3>La liste exhaustive de nos contacts</h3>
<p> Sur la page d'accueil, vous retrouverez cette iste <br/>
En cliquant sur l'un des métier , vous y trouverez des détails ( le nombre de contacts sur ce métier, si un volontaire sert d'intermediaire etc...) </p>


<h3>Ajouter un contact</h3>
<p>Depuis l'onglet "Ajouter un Contact" suiver le formulaire puis validez.</p>

<P>
	Vous pouvez decider de servir d'intermédiaire (cad qu'on vous appelle pour avoir les coordonnées de votre contact) ou nous laissez comme seul intermédiaire.<br/>
	Dans tous les cas nous pourrons servir d'intermédiaire.
</P>

<p> Les contacts sont validés manuellement (pour eviter des erreurs), alors ne vous inquiétez pas si votre contact n'est pas visible immédiatement!</p>

<p>Vous pouvez renseigner plusieurs métiers, mais un seul est obligatoire</p>

<p> Les disponibilités sont les modes de contact par lesquel une personne accepte d'être contactée.</p>

<h3>Je souhaite contacter un contact ( vraiment on aurait du trouver un meilleur nom)</h3>

<p>Vous pouvez nous enoyer un message via l'onglet "contactez nous" où, si c'est possible le volontaire qui l'a ajouté sur le site.<br/>
Dans tous les cas pensez à renseigner vos coordonnées, qu'on puuisss evous recontacter.</p>


</div>



{% endblock %}