{% extends 'base.html' %}

{%load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/apropos.css' %}">
{% endblock %}

{% block content %}


<p>Le projet sur GitHub : <br/>
<a href="https://github.com/hcdhcd/unisemploi">https://github.com/hcdhcd/unisemploi</a>
</p>

<p>
	Le lien sur pythonanywhere (les identifiants seront communiqués de personne a personne):	<br/>
	<a href="https://www.pythonanywhere.com/login/?next=/">https://www.pythonanywhere.com/login/?next=/</a>
</p>
<p>
	Bienvenue sur le site unis emploi<br/>

***Texte expliquant non motivations ce que vous pouvez en retirer****<br/>


*** comment contacter une personne ***<br/>

Envoyer une demande de contact vie l'onglet contact et nous nous chergerons de la mise en relation<br/>

*** comment ajouter un contact au site *** <br/>

Via le formulaire contact nous communiquer sa ville ses disponibilites et un ou plusieurs moyens de contact <br/>






</p>


{% endblock %}