{% extends 'base.html' %}

{% block content %}

<p>
	Bienvenue sur le site unis emploi<br/>

***Texte expliquant non motivations ce que vous pouvez en retirer****<br/>


*** comment contacter une personne ***<br/>

Envoyer une demande de contact vie l'onglet contact et nous nous chergerons de la mise en relation<br/>

*** comment ajouter un contact au site *** <br/>

Via le formulaire contact nous communiquer sa ville ses disponibilites et un ou plusieurs moyens de contact <br/>






</p>


{% endblock %}