{% extends "base.html" %}
{% load static %}

	{% block title %}	{% endblock %}

	{% block css %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/repertoire.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/recherche.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
					
	{% endblock %}

	{% block content %}	

		<h1>Liste des Métiers Disponibles</h1>

<!---
				<form action="/action_page.php" method="get"  target="_self">
					<button id="rechercher_bouton" type="submit" class="div_form"> <img src="{% static 'img/rechercher_bouton.png' %}"  /> </button>

					<div class="div_form">
						<input type="text" id="filtre" name="filtre">
					</div>

					<div class="div_form">
						<label for="tri"> Trier par:</label>
						<select id="trier_par" name = "tri" >

							<option value="metier">Métier</option>
							<option value="secteur">Secteur</option>
							<option value="date">Date d'ajout</option>
						</select>
					</div>


				</form>


-->

				<table id="table_met">


					<tr>
						<th>Métier</th>
						<th>Secteur</th>
						<th id ="th_large">Disponibilités</th>
					</tr>


			{% for metier in metiers %}

					<tr>
						<td><a href="">{{metier.metier}}</a></td>
						<td>
							{% for secteur in metier.secteur.all %}
								{{secteur}}
							{% endfor %}

						</td>
						<td>{{metier.dispo}}</td>
			
					</tr>

			{% endfor %}


				</table>



	{% endblock %}





