{% extends "double_form.html" %}

{% load static %}
{% block title %}
	Ajouter un contact
{% endblock title %}

{% block titre %}
	Ajouter un contact
{% endblock titre %}

{% block comment %}
	Selectionnez les secteurs et les metiers de votre contact, si l'un d'eux n'est pas dans la liste, vous pouvez le saisir directement.
{% endblock comment %}

{% block html_form_head %}
	<form>
{% endblock html_form_head %}

	{% block subtitle1 %}
		Metiers
	{% endblock subtitle1 %}

{% block form_set1 %}


	<ul>
		{% for metier in metiers %}
		<li class="list_ul">
			<input type="checkbox" name="{{metier.metier}}" id="metier_{{metier.id}}" class="list_input">	
			<label class="list_label" for="metier_{{metier.id}}">{{metier.metier}}</label>			
		</li>
	
		{% endfor %}
	</ul>
	<p class="small field_metier" >
		<label class="small" for="metier0" name="metier0">Nouveau metier</label>
		<button type='button' class="float_right img_button pointer inline delete" id="m"><img src="{% static 'img/x.png' %}"></button>	
		<input class="small" type="text" name="metier0" id="metier0">
	</p>
	<button type="button" class="add_button img_button inline green pointer" id="+metier">		
		<img src="{% static 'img/plus.png' %}"  class="input_img inline pointer" onclick=";" height="16px" width="16px" />
		Ajouter
	</button>


	
{% endblock form_set1 %}

{% block subtitle2 %}
	Secteurs
{% endblock subtitle2 %}

{% block form_set2 %}
	<ul class="list-ul">
		{% for secteur in secteurs %}
		<li class="list_li">
			<input type="checkbox" name="{{secteur.secteur}}" id="secteur_{{secteur.id}}" class="list_input">	
			<label class="list_label" for="secteur_{{secteur.id}}">{{secteur.secteur}}</label>	

		</li>

			
		{% endfor %}
	</ul>
	<p class="small field_secteur">
		<label for="secteur0" name="secteur0" class="small">Nouveau secteur</label>
		<button type='button' class="float_right img_button pointer inline delete" id="s"><img src="{% static 'img/x.png' %}"></button>	
		<input type="text" name="secteur0" id="secteur0" class="small">	
	</p >

		<button type="button" class="add_button img_button inline green pointer " id="+secteur">		
		<img src="{% static 'img/plus.png' %}" id="+metier" class="input_img inline pointer" onclick=";" height="16px" width="16px" />
		Ajouter
		</button>

	
{% endblock form_set2 %}

{% block button %}
	<button id="button_valider" class="classic_button" type="button"  >
		>> Etape 2 &emsp; 
	</button>

{% endblock button %}

{% block scripts %}
	<script>

		//ajouter tous les onclick depuis le javascript permet de mettre le js a part et certainement de simplifier les problemes de sécurite//

		//definition des liens onclick//
		var button_valider = document.querySelector('#button_valider');
		button_valider.setAttribute("onclick", "window.location.href='{% url 'step1' %}';");

			
		var button_add_metier = document.getElementById('+metier');
		button_add_metier.setAttribute('onclick', 'insertBeforeNCopies(1, field_metier, button_add_metier);');

		var button_add_secteur = document.getElementById('+secteur');
		button_add_secteur.setAttribute('onclick', 'insertBeforeNCopies(1, field_secteur, button_add_secteur);');

		var button_delete = document.querySelectorAll('.delete');
		var n=0;
		for (const element of button_delete) {
			element.setAttribute("onclick", "deleteNode(this.parentNode);;");
			element.id=n.toString();
			n+=1;
		}

		//permet d'animer les boutons ajouter //
		var field_metier = document.querySelector('.field_metier');
		var field_secteur = document.querySelector('.field_secteur');

		function insertBeforeNCopies(n, original, node) {
			for(var i = 0; i < n; i++) {
				var clone = original.cloneNode(true);
				var parent = node.parentElement;
				parent.insertBefore(clone, node);
			}
			//Permet d'animer les bouttons supprimer nouvellement crées//
			//Mais ya pas besoin car déja defini avant ??//
			button_delete = document.querySelectorAll('.delete');
			n=0;
			for (const element of button_delete) {
				element.setAttribute("onclick", "deleteNode(this.parentNode);");
				element.id=n.toString();
				n+=1;

			}
		}

		//animer les boutons supprimer//
		function deleteNode(node){
			node.parentNode.removeChild(node);
		}


		//permet de stocker les valeurs de champ dans un input hidden a envoyer a la vue par post)
		
		function multipleValuesToListInput(data_class, output_id){
			inputs = document.querySelectorAll('.field_metier input');
			var values_list=[];
			for(let i=0; i<inputs.length; i++){
				values_list.push(input_newMetier[i].value);
				alert(values_list[i]);
			}
			var output = document.createElement('input');
			output.value=values_list.join();
			output.setAttribute("id", "output_id");
			alert(output.value);
			var form = document.querySelector('form');
		}

		 alert(values_NewMetier.value);

	
		
	</script>
{% endblock scripts %}
