{% load static %}

<!DOCTYPE html>

<html>

	<head>


		<meta charset="utf-8" />

		<title>{% block title %} {% endblock %}</title>

		<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
		{% block cssClassic %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/ClassicPolices.css' %}">
		{% endblock %}

		{% block css %}{% endblock %}
		

	</head>


	<body>

		<header> 
			<a href="{% url "annuaire" %}"><img src="{% static 'img/logo130h.png' %}" id="logo"></a>
			
			<nav>
				
				<li><a class='aban' href="{% url "apropos" %} ">A propos</a></li>
				<li><a class='aban' href="{% url "contact" %}">Nous contacter</a></li>
				<li><a class='aban' href="{% url "addContact" %}">Ajouter un Contact</a></li>
			</nav>
								
		</header>

		

		<section id='content'>	{% block content %}
			

			{% endblock %}
		</section>
		
					


		<footer> 
			{% block footer %} {% endblock %}
		</footer>


	</body>

</html>