section {
	display: flex;
	justify-content: start;
	flex-direction: column;
	align-items: center;

	background: rgb(300,300,300);
	z-index: 1;

}




h1 {

	margin-bottom: 30px;
	margin-top: 40px;

}

p {
	color: #fe4f00;
}

a {
	color: black;
}

a:visited /* propriétés des liens déjà visités */
{
   color: black;
}